{ % extends "base.html" %}

{% block titulo %} Lista de juegos {% endblock %}

{% block contenido %} 
 <div class="card">
    <div class="card-header">Listar juegos</div>
    <div class="card-body">
        <h4 class="card-title">Juegos</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th >ID</th>
                        <th >titulo</th>
                        <th >Imagen</th>
                        <th >descripcion</th>
                        <th >Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td >1</td>
                        <td>Halo</td>
                        <td>imagen.jpg</td>
                        <td>juegazo</td>
                        <td>Editar | Borrar</td>
                    </tr>
                
                </tbody>
            </table>
        </div>
        
        
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>

{% endblock %}